p{
    color: coral;
    width: 500px;
    
}

.list_description {
    border-bottom: 3px solid
}

.img_list li {
    list-style: none;
    background: url("rab_ear_%EB%8C%80%EC%A7%80%201.png") no-repeat;
    background-size: 20px;
    padding: 0 0 0 25px;
}

